
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-west-2
AWS_S3_ENDPOINT_URL=https://s3.us-west-2.idrivee2.com

S3_BUCKET=temporal-dev
TEMP_DIR=/tmp/pdf-pipeline

TEMPORAL_HOST=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_PDF_PROCESS_TASK_QUEUE=pdf-pipeline-queue

OPENROUTER_API_KEY=your_openrouter_api_key
OPENROUTER_MODEL=deepseek/deepseek-v4-flash
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
MAX_TOKENS=8_000

USE_LOCAL_MODEL=True
LOCAL_BASE_MODEL=Qwen/Qwen2.5-0.5B-Instruct
LOCAL_ADAPTER_PATH= /path/to/your/local/adapter
